.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    overflow: visible;    
}

 .wrapper,  .main-sidebar,  .left-side {
    background-color: transparent !important;
}

 .sidebar a {
    color: #484440 !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar a i {
    color: #484440 !important;
}

 .sidebar-menu>li>a, .sidebar-menu .treeview-menu>li>a {
    transition: all 0.2s;
    padding-left: 20px;
    /* text-transform: uppercase; */
    overflow: hidden;
    text-overflow: ellipsis;
}

 .sidebar-menu>li:hover>a, .sidebar-menu .treeview-menu>li:hover>a {
    background: #faba00 !important;
    border-left: none;
    width: calc(100% + 7px);
    padding-left: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.44);
    font-weight: bold;
    text-overflow: unset;
    min-width: fit-content;
}

 .sidebar-menu>li>.treeview-menu>li>a {
    padding-left: 50px;
}

 .sidebar-menu>li.active>a , .sidebar-menu .treeview-menu>li.active>a {
    color: #fff !important;
    border-left: none;
    width: calc(100% + 7px);
    padding-left: 30px;
}

.sidebar-menu>li.active>a i , .sidebar-menu .treeview-menu>li.active>a i {
    color: #fff !important;
}

 .sidebar-menu>li.active>a {
    background: linear-gradient(90deg, #e97a18, #f29b0c) !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.44);
    font-weight: bold;
}

.sidebar-menu .treeview-menu>li.active>a {
    background: linear-gradient(90deg, #e97a18, #ffef21) !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.44);
    font-weight: bold;
}

 .treeview-menu>li.active>a,  .treeview-menu>li>a:hover {
    color: #484440 !important;
}

 .sidebar-menu>li>.treeview-menu {
    background-color: #dedede !important;
    padding: 0;
    margin: 0;
}

.sidebar {
    background: #fff !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.44);
    margin-top: 120px;
    border-radius: 0 4px 4px 0;
    padding-bottom: 0px;
}

body {
    background-color: #fff !important;
}

.content-wrapper, .right-side {    
    background-color: transparent !important;
}

 .main-header .navbar {
    background: #fff !important;
}

 .main-header .logo {
    background-color: #fff !important;
}

.main-sidebar .user-panel,  .sidebar-menu>li.header:first-child {
    display: none;
}

 .main-header .navbar .sidebar-toggle {
    color: #333 !important;
}

 .main-header .navbar .sidebar-toggle:hover {
    color: #222 !important;
    background: rgba(0,0,0,0.1) !important;
}

 .main-header .navbar .sidebar-toggle:hover {
    background-color: #fff !important;
}

        
/* .logo .flyfood-typo{
    width : 180px;
    height : 40px;
    background-image : url("https://flyfood-pro.com/img/flyfood-typo.png");
    background-size: contain ;
    background-position: center center;
    background-repeat : no-repeat;
    margin : 0 ;
    float: left;
} */

.logo .flyfood-logo{
    width : 180px;
    height : 180px;
    background-image : url("http://144.91.100.67/flyfood/public/uploads/2021-06/8784bce9b1b1b5ba2d7d08aff56a10d5.png");
    background-size: contain ;
    background-position: top;
    background-repeat : no-repeat;
    margin : 0 ;
    float: left;
}

.newLogo {
    position: absolute;
    left: 20px;
    top: 15px;
}

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
    font-weight: normal; 
}


@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
    font-weight: bold; 
}

:not(.fa):not(.glyphicon):not(.sidebar-toggle) {
    font-family: "Quicksand", sans-serif;
}

.sidebar-menu li>a>.pull-right {
    right: 0;
}

.main-footer {
    background: transparent !important;
    border-top: none;
}

.content-header>.breadcrumb {
    background: transparent !important;
}

.nav.navbar-nav {
    background: linear-gradient(90deg, #f29b0c, #e97a18) !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.44);
    border-bottom-left-radius: 5px;
}

.dropdown.user.user-menu {
    background: #fff !important;
}

.dropdown.user.user-menu a {
    color: #484440 !important;
}

 .main-header li.user-header {
    background: linear-gradient(90deg, #f29b0c, #e97a18) !important;
    font-weight: bold;
}

 .main-header .navbar .nav>li>a {
    color: #333 !important;
}

.content-header h1 {
    font-weight: bold;
    /* text-transform: uppercase; */
    font-size: 24px;
    color: #484440 !important;
}

.content-header h1 a {
    text-transform: none;
}

#form-table th, #form-table td {
    padding: 15px !important;
    font-size: 13px;
}

#form-table th {
    background: #484440 !important;
    color: #fff !important;
    border: none !important;
    vertical-align: middle !important;
}

#form-table th a {
    color: #fff !important;
}

 .sidebar-menu>li.header {
    color: #fff !important;
    font-size: 15px;
    text-align: center;
    background: #aaa !important;
    display: block;
}

.panel-default>.panel-heading {
    background: linear-gradient(90deg, #e97a18, #f29b0c) !important;
    color: #fff !important;
    font-size: 22px;
    font-weight: bold;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    font-size: 17px;
    margin-left: -5px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary.hover
,.btn-primary.focus, .btn-primary:focus,.btn-primary:visited,
.btn-primary.active.focus, .btn-primary.active:focus,
 .btn-primary.active:hover, .btn-primary:active.focus, 
 .btn-primary:active:focus, .btn-primary:active:hover,
  .open>.dropdown-toggle.btn-primary.focus, 
  .open>.dropdown-toggle.btn-primary:focus, 
  .open>.dropdown-toggle.btn-primary:hover , .btn-primary[disabled]{
    background-color: #e97a18 !important;
     border-color: #e97a18 !important;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success.hover,
.btn-success.focus, .btn-success:focus,.btn-success:visited,
.btn-success.active.focus, .btn-success.active:focus,
 .btn-success.active:hover, .btn-success:active.focus, 
 .btn-success:active:focus, .btn-success:active:hover,
  .open>.dropdown-toggle.btn-success.focus, 
  .open>.dropdown-toggle.btn-success:focus, 
  .open>.dropdown-toggle.btn-success:hover, .btn-success[disabled]
  {
    background-color: #faba00 !important;
    border-color: #faba00 !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning.hover ,
.btn-warning.focus, .btn-warning:focus,.btn-warning:visited,
.btn-warning.active.focus, .btn-warning.active:focus,
 .btn-warning.active:hover, .btn-warning:active.focus, 
 .btn-warning:active:focus, .btn-warning:active:hover,
  .open>.dropdown-toggle.btn-warning.focus, 
  .open>.dropdown-toggle.btn-warning:focus, 
  .open>.dropdown-toggle.btn-warning:hover,.btn-warning[disabled]
 {
    background-color: #744F17 !important;
    border-color: #744F17 !important;
}
 
.btn-info, .btn-info:hover, .btn-info:active, .btn-info.hover ,
.btn-info.focus, .btn-info:focus, .btn-info:visited,
.btn-info.active.focus, .btn-info.active:focus,
 .btn-info.active:hover, .btn-info:active.focus, 
 .btn-info:active:focus, .btn-info:active:hover,
  .open>.dropdown-toggle.btn-info.focus, 
  .open>.dropdown-toggle.btn-info:focus, 
  .open>.dropdown-toggle.btn-info:hover, .btn-info[disabled]
 {
    background-color: #AF6518 !important;
    border-color: #AF6518 !important;
}

.skin-red .main-header .logo {
    display: none !important;
}